header, footer {
    padding: 1em;
    color: grey;
    background-color: black;
    clear: left;
    text-align: right;
}
div.parent{
	overflow: hidden; /*position: relative;*/
	
}

.column1, .column2, .column3, .column4, .column5, .column6, .column7, .column8, .column9, .column10{
	float: left;
	position: relative;
	min-height: 1px;
	padding-right: 0px;
	padding-left: 0px;

}
.column1{
	width: 10%;
}
.column2{
	width: 20%;
}
.column3{
	width: 30%;
}
.column4{
	width: 40%;
}
.column5{
	width: 50%;
}
.column6{
	width: 60%;
}
.column7{
	width: 70%;
}
.column8{
	width: 80%;
}
.column9{
	width: 90%;
}
body, text{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-family: "Courier New", Courier, monospace;
	vertical-align: baseline;
	background-color: black;
	color: white;
	
}

#textbox{
	padding: 0;
	border: 0;
	font-size: 100%;
	font-family: "Courier New", Courier, monospace;
	background-color: black;
	vertical-align: baseline;
	color: white;
	/*width: 90%;*/
}

input:focus{
    outline: none;
}

#ha{
	width: 90%;
}